
    $backgroundColor: #192a56;
    $backgroundColor2: #cfd6da;
    $buttonColor:#0097e6;
    $textColor:#f5f6fa;
    $textColor2:#000;
    $corNaveg:#44bd32;
    $corLinks:#2f3640;
    $grad1:#00a8ff;
    $grad2:#e84118;
    $rodape:#40739e;
    $tituloTabela:#afc293;
    $tabelaConteudo:#ff4500;
    $tabelaConteudo2:#afc293;
