@use "./cores";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

#navegador{
    background-image: linear-gradient(rgb(31, 204, 31) 0%, rgb(54, 175, 54) 5%, transparent);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 123;
    padding-bottom: 12px;
    a{
        font-family: 'cabin', monospace;
        font-size: 16px;
        color: #dcdde1;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 1px 1px 3px rgb(0, 0, 0);
    }
}

.inicio{
    header{
        margin-bottom: 200px;
        .fundo1{
            position: absolute;
            left: 10%;
            width: 80vw;
            height: 100vh;
            opacity: .75;
            justify-content: center;
            z-index: -1;
            background-size: contain;
            filter: blur(1px);
        }
        // background-image: url("../images/dev.png");
        // opacity: .25;
        // background-repeat: no-repeat;
        // width: 100%;
        // background-size: cover;
    }
    
}
 
body{
    background: linear-gradient(0deg, #dcdde1 0%, #00a8ff 50%, #192a56 100%);
    color: cores.$textColor2;
}

#elemento{
   font-size: 24px;
   text-align: center;
   align-items: center;
    font-weight: 800;
    text-shadow: 1px 1px 6px black;
    text-decoration-color: gray;
    color: #fff;
}

li{
    list-style: none;
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width: 767px){
        max-width: 70%;
    }

    @media screen and (min-width: 768px) and ( max-width: 1023px) {
       max-width: 80%;
    }

}

header{
    padding: 24px;

    img{
        height: 150px;
        width: 150px;
    }
    

    .profile-avatar{
        display: block;
        justify-content: center;
        margin: 0 auto 24px;
        border-radius:50%;
    }
}
.orbit-container {
    display: block;
    justify-content: space-around;
    
   
}


.profile-bio{
    display: block;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px black;
    &-name{
        font-size: 24px;
        margin-bottom: 8px;
    }
    &-subtitle{
        font-size: 14px;
        margin-bottom: 8px;
    }
    &-description{
        display: block;
        font-size: 14px;
        opacity: 0.7;
    }
}

.profile-bio-indicator{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    margin: 32px 0 ;
    font-size: 25px;
    
}
.profile-bio-skills{
    text-align: center;
    font-weight: bold;
    margin: 32px 0 ;
    font-size: 24px
}

.social-links{
    display: flex;
    justify-content: space-between;
    max-width: 240px;
    width: 100%;
    margin: 0 auto;  
    li{
        list-style: none;

        img{
            transition: all ease .3s;
            &:hover{
                transform: scale(2);
                filter: drop-shadow(0px 0px 4px #fff);
                filter: drop-shadow(0px 0px 2px #080808);
            }
        }
    }
}

.projects-list{
    
    &-item{
        a{
            text-decoration: none;
            background-color: cores.$buttonColor;
            display: block;
            text-align: center;
            font-weight: bold;
            border-radius: 30px;
            padding: 16px 20px;
            margin-bottom: 16px;
            color: cores.$textColor;
            border: 3px solid cores.$buttonColor;
            transition: all ease .5s;

            &:hover{
                color: cores.$buttonColor;
                background-color: transparent;
                
            }
        }
    }
}

table{
    border-collapse: collapse;
    text-align: center;
    tr:nth-child(even){
        background-color: cores.$tabelaConteudo2;
        color: cores.$textColor2;
    }
}

thead {
    background: cores.$tabelaConteudo;
}
th, tr, td{
    padding: 6px;
    border: 1px solid cores.$tabelaConteudo;
}

